.metadata
encoding_rules_base/bin
encoding_rules_base/xtend-gen
encoding_rules_base.ide/bin
encoding_rules_base.ide/xtend-gen
encoding_rules_base.tests/bin
encoding_rules_base.tests/xtend-gen
encoding_rules_base.ui/bin
encoding_rules_base.ui/xtend-gen
encoding_rules_base.ui.tests/bin
encoding_rules_base.ui.tests/xtend-gen