<?xml version="1.0" encoding="windows-1250"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/example/EncodingLang"
			class = "org.xtext.example.encodingLang.EncodingLangPackage"
			genModel = "model/generated/EncodingLang.genmodel" />
	</extension>
</plugin>
