/.EncodingLangParsingTest.java._trace
/.EncodingLangParsingTest.xtendbin
/EncodingLangParsingTest.java
/.EncodignLangFormatTest.java._trace
/.EncodignLangFormatTest.xtendbin
/EncodignLangFormatTest.java
/.EncodingLangGeneratorTest.java._trace
